body {
    font-size: 30px;
}
select,
option {
    font-size: 30px;
    background-color: var(--bg-color-0);
    color: var(--color-0);
}
label:has(input[type=checkbox])
{
    border: 0.25rem solid var(--color-2);
    padding: 0.2rem;
}
label:has(input:checked) {
    border: 0.25rem solid var(--color-1);
}
.main,
.combinations,
.combinations *,
.input,
.values
{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.input {
    flex-direction: column;
}
.values > div {
    text-indent: 1rem;
}
.size > div,
.values > div > div
{
    display: inline;
}
:is(.input, .values) > div {
    width: 100%;
}
.main > p {
    width: 100%;
}
@media (max-width: 725px) {
    .size > div:not(.grid-3),
    .values > div > div:not(.grid-3)
    {
        display: block;
    }
    .input .grid-3
    {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, auto);
    }
}
