body {
    font-size: 30px;
}
select,
option {
    font-size: 30px;
    background-color: var(--bg-color-0);
    color: var(--color-0);
}
.input label:has(input[type=checkbox]),
.combinations .entry
{
    border: 0.25rem solid var(--color-2);
    padding: 0.2rem;
}
.input label:has(input:checked) {
    border: 0.25rem solid var(--color-1);
}
