body {
    font-size: 30px;
}
select,
option {
    font-size: 30px;
    background-color: var(--bg-color-0);
    color: var(--color-0);
}
label:has(input[type=checkbox])
{
    border: 0.25rem solid var(--color-2);
    padding: 0.2rem;
}
label:has(input:checked) {
    border: 0.25rem solid var(--color-1);
}
.main,
.combinations,
.combinations *,
.input,
.input .values
{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.input {
    flex-direction: column;
}
.input .values div {
    text-indent: 1rem;
}
.input div {
    width: 100%;
}
p {
    width: 100%;
}
